.about{
  min-height: 100dvh;
  background-color: var(--black);
  padding: 20px;
}
.about > div{ 
  border: 1px solid var(--white);
  margin: auto;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--white);
  gap: 20px;
  padding: 20px;
}

.about-container{
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  & > h1{
    min-width: 25ch;
    font-family: 'Sono';
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.1px;
    max-width: 35ch;
    background-color: #000000;
    padding: 10px;
  }
}

.reverse-text{
  transform: scaleX(-1);
}

.bg-asset-container > .bg-asset{
	position: relative;
	max-width: 100%;
	z-index: 1;
  opacity: 0.4;
}

.bg-asset-container{
  max-height: 100dvh;
  overflow: hidden;
}

.about .about-image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.about img{
  min-width: 250px;
  max-width: 100%;
  padding: 10px;
  border: 1px solid var(--white);
  position: relative;
}

@media (max-width: 767px){
  .about{
    padding: 10px;
  }
}