.about-container{
  padding: 20px;
  & > h1{
    max-width: 45ch;
    text-align: justify;
    font-family: 'Karla';
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: -0.1px;
  }
}

.reverse-text{
  transform: scaleX(-1);
}

.bg-asset-container > .bg-asset{
	position: relative;
	max-width: 100%;
	z-index: 1;
  opacity: 0.4;
}

.bg-asset-container{
  max-height: 100dvh;
  overflow: hidden;
}

.about{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
  flex-wrap: wrap;
  background-color: var(--black);
  color: var(--white);
}

.about > .about-image-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.about > div > img{
  max-width: 310px;
  border-radius: 5px;
}