.contact-section{
  padding: 50px;
  background-image: url("src/assets/hyped/Chrome Shapes FREE SAMPLE/PNG/01 Black Mode/05.png");
}
.contact{
  margin: auto;
  max-width: max-content;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: 'Karla';
  background-color: #fff;
  flex-wrap: wrap-reverse;
}

.contact > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
} 
.contact h1{
  padding-bottom: 20px;
  font-size: 26px;
}

.contact > form > div{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact > form > div > label > input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #151515;
}

.contact > form label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.contact textarea {
  border: 2px solid #151515;
  resize: none;
  padding: 5px;
}

.contact input[type=submit]{
  width: 100px;
  padding: 5px;
  background: #151515;
  color: var(--white);
  border: 2px solid #151515;
  font-family: 'Karla';
}

.contact  img{
  max-height: 500px;
  border-radius: 10px;
  filter: grayscale(100%);
}

@media (max-width: 768px){
  .contact{
    padding: 10px;
  }
  .contact > form {
    padding: 0px;
    max-width: 100%;
  }
  .contact-section{
    padding: 10px;
    background-image: url("");
    background-color: var(--white);
  }
  .contact  img{
    min-width: 300px;
  }
  .contact > form > div{
    max-width: 100%;
    gap: 10px;
  }
}