header{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Karla';
  color: #151515;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 4;
}

header button {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 25px;
  height: auto;
  & img{
    max-width: 100%;
  }
}

header > div:first-of-type{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex: 1;
}

header > ul{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  height: 100%;
}

header h1{
  font-size: 14px;
}

header p{
  font-size: 10px;
  color: #959595
}

header > ul > li{
  padding: 5px;
  height: 100%;
  transition: 200ms ease-in-out;
  text-underline-offset: 0px;
}

header > ul > li:hover{
  text-underline-offset: 2px;
  text-decoration: underline solid greenyellow;
}

@media (max-width: 768px){
  .header-title{
    display: none;
  }
  .header-clock{
    display: none;
  }
  header{
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
  }
  header > div:first-of-type{
    width: 25px;
  }
}