header{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Karla';
  color: #151515;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  position: sticky;
  top: 0px;
  z-index: 4;
}

header button {
  border: none;
  background-color: transparent;
}



header > div:first-of-type{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex: 1;
}

header > ul{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  height: 100%;
}

header h1{
  font-size: 14px;
}

header p{
  font-size: 10px;
  color: #959595
}

header > ul > li{
  padding: 5px;
  height: 100%;
  transition: 200ms ease-in-out;
}

header > ul > li:hover{
  text-underline-offset: 2px;
  text-decoration: underline solid greenyellow;
}

@media (max-width: 768px){
  .header-title{
    display: none;
  }
  .header-clock{
    display: none;
  }
  header{
    justify-content: center;
    align-items: center;
  }
  header > div:first-of-type{
    width: 25px;
  }
}