header{
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Karla';
  color: #fff;
  padding: 8px;
  position: sticky;
  top: 0px;
  z-index: 4;
}

header > ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

header h1{
  font-size: 14px;
}

header p{
  font-size: 10px;
  color: lightgray;
}

@media (max-width: 768px){
  .header-title{
    display: none;
  }
  .header-clock{
    display: none;
  }
  header{
    justify-content: center;
  }
}