.hero{
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  color: var(--white);
  background-color: var(--black);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hero-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'medium';
}

.hero-title-left, .hero-title-right{
  flex: 1;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(2, 60px);
  padding: 10px;
}

.hero-title-left > h3 {
  grid-row-start: 1;
  text-align: center;
}

.hero-title-right > h3 {
  grid-row-start: 2;
  text-align: center;
}

.hero-logo{
  flex: 1;
  max-width: 400px;
  filter: brightness(130%);
}

.hero .bg-asset{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  max-width: 100%;
  margin: auto;
  z-index: 1;
  opacity: 0.5;
}

@media (max-width: 768px){
  .hero-title-left{
    grid-row-start: 2;
    text-align: center;
  }
  .hero-logo{
    max-width: 300px;
  }
  .hero{
    align-items: start;
    padding-top: 20px;
  }
}

@media (max-width: 900px){
  .hero-logo{
    padding: 20px;
    max-width: 100%;
  }
}