.hero{
	position: relative;
	min-height: 100dvh;
	margin: auto;
}

.hero > div {
	max-width: 1280px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	position: absolute;
	min-width: 100%;
	font-family: 'Akshar';
	font-size: 30px;
}

.hero h1{
	color: #fff;
}

.hero-logo{
	margin-top: 50px;
	z-index: 2;
	max-width: 450px;
}

.ray1{
	max-width: 150px;
	position: absolute;
	left: 360px;
	top: 0;
}

.ray2{
	max-width: 150px;
	position: absolute;
	right: 360px;
	top: 0;
	transform: scaleX(-1);
}

.chain1{
	max-width: 100%;
}

.hero .bg-asset{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	max-width: 100%;
	margin: auto;
	z-index: 1;
	opacity: 0.5;
}
