.hero{
    position: relative;
    min-height: 100dvh;
    max-width: 1280px;
    margin: auto;
}

.hero > div {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    min-width: 100%;
    font-family: 'Akshar';
    font-size: 30px;
}

.hero h1{
    color: #fff;
}

.hero-logo{
    margin-top: 100px;
    z-index: 2;
    max-width: 900px;
}

.ray1{
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
}

.ray2{
    max-width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    transform: scaleX(-1);
}

.chain1{
    max-width: 100%;
}

.hero .bg-asset{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    max-width: 100%;
    margin: auto;
    z-index: 1;
    opacity: 0.5;
}