.container{
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 1280px;
  margin: auto;
  padding: 50px;
}

.project{
  flex: 1;
  font-family: 'Karla';
  font-weight: 900;
  color: var(--white);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.link-overlay{
  word-wrap: break-word;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1515157c;
  border-radius: 10px;
  transition: 100ms ease-in-out;
}

.link-overlay::before{
  padding: 5px;
  background-color: #fff;
  height: 5px;
  width: 100px;
}

.link-overlay:hover{
  cursor: pointer;
  backdrop-filter: grayscale(100%);
  filter: invert(90%);  
}

.project-container{
  max-width: 300px;
  max-height: 200px;
}

.project-container > video{
  border-radius: 10px;
  max-width: 100%;
}

@media (max-width: 768px){
  .link-overlay{
    max-width: 100%;
    & h1{
      text-align: center;
      font-size: 15px;
      max-width: 100%;
    }
  }
  .container{
    gap: 10px;
    padding: 10px;
  }
}

@keyframes sub-line {
  0%{width: 0%;}
  100%{width: 100%;}
}